<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Annotations">

	<test name="Run Class Annotations">
        <!-- <groups>
            <run>
                <include name="smoke"> 
                </include>
            </run>
        </groups> -->
		<classes>
			<class name="DemoTestNG.FirstAutomatedTest"> 
                <!-- <methods> 
                    <include name="test2_JQueryDatePicker"> </include>
                </methods> -->
            </class>

			<!-- <class name="DemoTestNG.ConfigurationAnnotations_2_ListBox"> 
            
            </class> -->
		</classes>	
	</test> 
	
</suite>